.hello-section{
    display: flex;
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}
.text-div{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
}

.hello-title{
    font-size: 3rem;
    padding: 1% 0;
}
.name{
    color: var(--primary-color);
}
.occupation-title{
    font-size: 2rem;
    padding: 1% 0;
}
.objective{
    font-size: 1rem;
    text-align: justify;
    padding: 1% 0;
}
.hire-me{
    background: var(--gradient-color);
    padding: 1% 0;
    color: white;
    font-size: 2rem;
    border: none;
    width: 80%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border: 2px solid white;
}
.hire-me:hover{
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    background: white;
}

.image-div{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.my-image{
    width: 100%;
    border-radius: 100%;
}

.social-div{
    width: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.fa {
    padding: 20%;
    width: 100%;
    text-align: start;
    text-decoration: none;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-github {
    background: #1f1f1f;
    color: white;
}
.fa-medium {
    background: #000000;
    color: white;
}