* {box-sizing: border-box}
.skills-section{
    max-width: 100vw;
    padding: 8%;
    min-height: 100vh;
}
.skills-title{
    font-size: 2.5rem;
    color: var(--primary-color);
    text-align: center;
    background-color: transparent;
}
.container {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 15px;
  overflow: hidden;
  background-color: rgb(224, 224, 224);
}

.skills {
  text-align: right;
  padding: 10px;
  color: white;
  font-size: 1rem;
}

.html { border-radius: 15px; width: 90%; background-color: #e9640c;}
.css {border-radius: 15px; width: 80%; background-color: #2196F3;}
.js {border-radius: 15px; width: 80%; background-color: #d0db33;}
.java {border-radius: 15px; width: 80%; background-color: #ec5353;}
.python {border-radius: 15px; width: 75%; background-color: #4156cf;}
.node {border-radius: 15px; width: 65%; background-color: #0a9e2a;}
.flutter {border-radius: 15px; width: 85%; background-color: #42c9ff;}