html {
  scroll-behavior: smooth;
}
.navitems {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
.navbar-mobile-button {
  display: none;
}
@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
  .navitems {
    display: none;
    border-radius: 10px;
  }
}
